In [1]:
import pandas as pd
import matplotlib as mpl
import seaborn as sns
import sklearn

In [2]:
df = pd.read_csv("./train.csv")

Small dataset. Will definitely be doing CV.  

  Some prelim observations:  
  GarageYrBlt: why float? only year. Check that no halves, then perhaps convert to int.  
  Lots of categorical encoding to do. For the features:  
  * if no ordinality, choose one-hot (such a small dataset, so do we need to be concerned about the extra dimensionality in this case?); not target encoding, only so I don't have to think about data leakage)
  * if ordinality, choose label

  All NA have become NaN. Don't know whether that will mean different behaviour elsewhere at all  
    
Compute correlations (R-sq) *before* training to inform feature engineering. This also possible to do in CV framework?

In [3]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [5]:
df.loc[df["GarageYrBlt"] % 1 != 0, "GarageYrBlt"].notna()

39      False
48      False
78      False
88      False
89      False
        ...
1349    False
1407    False
1449    False
1450    False
1453    False
Name: GarageYrBlt, Length: 81, dtype: bool

In [6]:
df.loc[df["GarageYrBlt"] % 1 != 0, "GarageYrBlt"].notna().value_counts()

GarageYrBlt
False    81
Name: count, dtype: int64

In [7]:
df.loc[df["GarageYrBlt"] % 1 != 0, ["GarageYrBlt", "GarageArea"]]

      GarageYrBlt  GarageArea
39            NaN           0
48            NaN           0
78            NaN           0
88            NaN           0
89            NaN           0
...           ...         ...
1349          NaN           0
1407          NaN           0
1449          NaN           0
1450          NaN           0
1453          NaN           0

[81 rows x 2 columns]

&#8595; &#8595; scenario where df[df... will not work: only df.loc[df

In [8]:
df.loc[df["PoolQC"].notna(), "PoolQC"]

197     Ex
810     Fa
1170    Gd
1182    Ex
1298    Gd
1386    Fa
1423    Gd
Name: PoolQC, dtype: object

In [9]:
# Start by one-hot encoding MSZoning, Street, Alley
# At least a few categorical columns suitable for label encoding -- ordinality
df_onehot = pd.get_dummies(df, columns=["MSZoning", "Street", "Alley"])
df_onehot

,Id,MSSubClass,LotFrontage,LotArea,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,SalePrice,MSZoning_C (all),MSZoning_FV,MSZoning_RH,MSZoning_RL,MSZoning_RM,Street_Grvl,Street_Pave,Alley_Grvl,Alley_Pave
0,1,60,65.0,8450,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,...,208500,False,False,False,True,False,False,True,False,False
1,2,20,80.0,9600,Reg,Lvl,AllPub,FR2,Gtl,Veenker,...,181500,False,False,False,True,False,False,True,False,False
2,3,60,68.0,11250,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,...,223500,False,False,False,True,False,False,True,False,False
3,4,70,60.0,9550,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,...,140000,False,False,False,True,False,False,True,False,False
4,5,60,84.0,14260,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,...,250000,False,False,False,True,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,62.0,7917,Reg,Lvl,AllPub,Inside,Gtl,Gilbert,...,175000,False,False,False,True,False,False,True,False,False
1456,1457,20,85.0,13175,Reg,Lvl,AllPub,Inside,Gtl,NWAmes,...,210000,False,False,False,True,False,False,True,False,False
1457,1458,70,66.0,9042,Reg,Lvl,AllPub,Inside,Gtl,Crawfor,...,266500,False,False,False,True,False,False,True,False,False
1458,1459,20,68.0,9717,Reg,Lvl,AllPub,Inside,Gtl,NAmes,...,142125,False,False,False,True,False,False,True,False,False
1459,1460,20,75.0,9937,Reg,Lvl,AllPub,Inside,Gtl,Edwards,...,147500,False,False,False,True,False,False,True,False,False

In [10]:
# Why in above output does MSZoning C column have "all"?
df.loc[(df["MSZoning"]=="A") | (df["MSZoning"]=="I") | (df["MSZoning"]=="RP")]

Empty DataFrame
Columns: [Id, MSSubClass, MSZoning, LotFrontage, LotArea, Street, Alley, LotShape, LandContour, Utilities, LotConfig, LandSlope, Neighborhood, Condition1, Condition2, BldgType, HouseStyle, OverallQual, OverallCond, YearBuilt, YearRemodAdd, RoofStyle, RoofMatl, Exterior1st, Exterior2nd, MasVnrType, MasVnrArea, ExterQual, ExterCond, Foundation, BsmtQual, BsmtCond, BsmtExposure, BsmtFinType1, BsmtFinSF1, BsmtFinType2, BsmtFinSF2, BsmtUnfSF, TotalBsmtSF, Heating, HeatingQC, CentralAir, Electrical, 1stFlrSF, 2ndFlrSF, LowQualFinSF, GrLivArea, BsmtFullBath, BsmtHalfBath, FullBath, HalfBath, BedroomAbvGr, KitchenAbvGr, KitchenQual, TotRmsAbvGrd, Functional, Fireplaces, FireplaceQu, GarageType, GarageYrBlt, GarageFinish, GarageCars, GarageArea, GarageQual, GarageCond, PavedDrive, WoodDeckSF, OpenPorchSF, EnclosedPorch, 3SsnPorch, ScreenPorch, PoolArea, PoolQC, Fence, MiscFeature, MiscVal, MoSold, YrSold, SaleType, SaleCondition, SalePrice]
Index: []

[0 rows x 81 columns]

Note syntax above: parentheses after df.loc[  , NOT after df[  ; the pipe

In [11]:
df_onehot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 87 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                1460 non-null   int64
 1   MSSubClass        1460 non-null   int64
 2   LotFrontage       1201 non-null   float64
 3   LotArea           1460 non-null   int64
 4   LotShape          1460 non-null   object
 5   LandContour       1460 non-null   object
 6   Utilities         1460 non-null   object
 7   LotConfig         1460 non-null   object
 8   LandSlope         1460 non-null   object
 9   Neighborhood      1460 non-null   object
 10  Condition1        1460 non-null   object
 11  Condition2        1460 non-null   object
 12  BldgType          1460 non-null   object
 13  HouseStyle        1460 non-null   object
 14  OverallQual       1460 non-null   int64
 15  OverallCond       1460 non-null   int64
 16  YearBuilt         1460 non-null   int64
 17  YearRemodAdd      1460 non-null   int64
 18  RoofStyle         1460 non-null   object
 19  RoofMatl          1460 non-null   object
 20  Exterior1st       1460 non-null   object
 21  Exterior2nd       1460 non-null   object
 22  MasVnrType        588 non-null    object
 23  MasVnrArea        1452 non-null   float64
 24  ExterQual         1460 non-null   object
 25  ExterCond         1460 non-null   object
 26  Foundation        1460 non-null   object
 27  BsmtQual          1423 non-null   object
 28  BsmtCond          1423 non-null   object
 29  BsmtExposure      1422 non-null   object
 30  BsmtFinType1      1423 non-null   object
 31  BsmtFinSF1        1460 non-null   int64
 32  BsmtFinType2      1422 non-null   object
 33  BsmtFinSF2        1460 non-null   int64
 34  BsmtUnfSF         1460 non-null   int64
 35  TotalBsmtSF       1460 non-null   int64
 36  Heating           1460 non-null   object
 37  HeatingQC         1460 non-null   object
 38  CentralAir        1460 non-null   object
 39  Electrical        1459 non-null   object
 40  1stFlrSF          1460 non-null   int64
 41  2ndFlrSF          1460 non-null   int64
 42  LowQualFinSF      1460 non-null   int64
 43  GrLivArea         1460 non-null   int64
 44  BsmtFullBath      1460 non-null   int64
 45  BsmtHalfBath      1460 non-null   int64
 46  FullBath          1460 non-null   int64
 47  HalfBath          1460 non-null   int64
 48  BedroomAbvGr      1460 non-null   int64
 49  KitchenAbvGr      1460 non-null   int64
 50  KitchenQual       1460 non-null   object
 51  TotRmsAbvGrd      1460 non-null   int64
 52  Functional        1460 non-null   object
 53  Fireplaces        1460 non-null   int64
 54  FireplaceQu       770 non-null    object
 55  GarageType        1379 non-null   object
 56  GarageYrBlt       1379 non-null   float64
 57  GarageFinish      1379 non-null   object
 58  GarageCars        1460 non-null   int64
 59  GarageArea        1460 non-null   int64
 60  GarageQual        1379 non-null   object
 61  GarageCond        1379 non-null   object
 62  PavedDrive        1460 non-null   object
 63  WoodDeckSF        1460 non-null   int64
 64  OpenPorchSF       1460 non-null   int64
 65  EnclosedPorch     1460 non-null   int64
 66  3SsnPorch         1460 non-null   int64
 67  ScreenPorch       1460 non-null   int64
 68  PoolArea          1460 non-null   int64
 69  PoolQC            7 non-null      object
 70  Fence             281 non-null    object
 71  MiscFeature       54 non-null     object
 72  MiscVal           1460 non-null   int64
 73  MoSold            1460 non-null   int64
 74  YrSold            1460 non-null   int64
 75  SaleType          1460 non-null   object
 76  SaleCondition     1460 non-null   object
 77  SalePrice         1460 non-null   int64
 78  MSZoning_C (all)  1460 non-null   bool
 79  MSZoning_FV       1460 non-null   bool
 80  MSZoning_RH       1460 non-null   bool
 81  MSZoning_RL       1460 non-null   bool
 82  MSZoning_RM       1460 non-null   bool
 83  Street_Grvl       1460 non-null   bool
 84  Street_Pave       1460 non-null   bool
 85  Alley_Grvl        1460 non-null   bool
 86  Alley_Pave        1460 non-null   bool
dtypes: bool(9), float64(3), int64(35), object(40)
memory usage: 902.6+ KB

In [21]:
from sklearn.feature_selection import r_regression
r_sq_score = r_regression(df_onehot[["LotArea"]], df_onehot["SalePrice"]) ** 2
r_sq_score

array([0.06961332])