In [1]:
import pandas as pd
df_oldversion = pd.read_csv("./train.csv")
df = pd.read_csv("./train_encodedv.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Columns: 185 entries, Id to SaleCondition_Partial
dtypes: bool(122), float64(3), int64(34), object(26)
memory usage: 892.7+ KB

In [2]:
df_oldversion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1460 non-null   int64
 1   MSSubClass     1460 non-null   int64
 2   MSZoning       1460 non-null   object
 3   LotFrontage    1201 non-null   float64
 4   LotArea        1460 non-null   int64
 5   Street         1460 non-null   object
 6   Alley          91 non-null     object
 7   LotShape       1460 non-null   object
 8   LandContour    1460 non-null   object
 9   Utilities      1460 non-null   object
 10  LotConfig      1460 non-null   object
 11  LandSlope      1460 non-null   object
 12  Neighborhood   1460 non-null   object
 13  Condition1     1460 non-null   object
 14  Condition2     1460 non-null   object
 15  BldgType       1460 non-null   object
 16  HouseStyle     1460 non-null   object
 17  OverallQual    1460 non-null   int64
 18  OverallCond    1460 non-null   int64
 19  YearBuilt      1460 non-null   int64
 20  YearRemodAdd   1460 non-null   int64
 21  RoofStyle      1460 non-null   object
 22  RoofMatl       1460 non-null   object
 23  Exterior1st    1460 non-null   object
 24  Exterior2nd    1460 non-null   object
 25  MasVnrType     588 non-null    object
 26  MasVnrArea     1452 non-null   float64
 27  ExterQual      1460 non-null   object
 28  ExterCond      1460 non-null   object
 29  Foundation     1460 non-null   object
 30  BsmtQual       1423 non-null   object
 31  BsmtCond       1423 non-null   object
 32  BsmtExposure   1422 non-null   object
 33  BsmtFinType1   1423 non-null   object
 34  BsmtFinSF1     1460 non-null   int64
 35  BsmtFinType2   1422 non-null   object
 36  BsmtFinSF2     1460 non-null   int64
 37  BsmtUnfSF      1460 non-null   int64
 38  TotalBsmtSF    1460 non-null   int64
 39  Heating        1460 non-null   object
 40  HeatingQC      1460 non-null   object
 41  CentralAir     1460 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1460 non-null   int64
 44  2ndFlrSF       1460 non-null   int64
 45  LowQualFinSF   1460 non-null   int64
 46  GrLivArea      1460 non-null   int64
 47  BsmtFullBath   1460 non-null   int64
 48  BsmtHalfBath   1460 non-null   int64
 49  FullBath       1460 non-null   int64
 50  HalfBath       1460 non-null   int64
 51  BedroomAbvGr   1460 non-null   int64
 52  KitchenAbvGr   1460 non-null   int64
 53  KitchenQual    1460 non-null   object
 54  TotRmsAbvGrd   1460 non-null   int64
 55  Functional     1460 non-null   object
 56  Fireplaces     1460 non-null   int64
 57  FireplaceQu    770 non-null    object
 58  GarageType     1379 non-null   object
 59  GarageYrBlt    1379 non-null   float64
 60  GarageFinish   1379 non-null   object
 61  GarageCars     1460 non-null   int64
 62  GarageArea     1460 non-null   int64
 63  GarageQual     1379 non-null   object
 64  GarageCond     1379 non-null   object
 65  PavedDrive     1460 non-null   object
 66  WoodDeckSF     1460 non-null   int64
 67  OpenPorchSF    1460 non-null   int64
 68  EnclosedPorch  1460 non-null   int64
 69  3SsnPorch      1460 non-null   int64
 70  ScreenPorch    1460 non-null   int64
 71  PoolArea       1460 non-null   int64
 72  PoolQC         7 non-null      object
 73  Fence          281 non-null    object
 74  MiscFeature    54 non-null     object
 75  MiscVal        1460 non-null   int64
 76  MoSold         1460 non-null   int64
 77  YrSold         1460 non-null   int64
 78  SaleType       1460 non-null   object
 79  SaleCondition  1460 non-null   object
 80  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [3]:
df.shape

(1460, 185)

In [4]:
df.columns[df.columns.str.startswith("Alley")]

Index(['Alley_Grvl', 'Alley_Pave'], dtype='object')

In [5]:
df_oldversion[df_oldversion["Alley"].notna()]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
21,22,45,RM,57.0,7449,Pave,Grvl,Reg,Bnk,AllPub,...,0,NaN,GdPrv,NaN,0,6,2007,WD,Normal,139400
30,31,70,C (all),50.0,8500,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,7,2008,WD,Normal,40000
56,57,160,FV,24.0,2645,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2009,WD,Abnorml,172500
79,80,50,RM,60.0,10440,Pave,Grvl,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,5,2009,WD,Normal,110000
87,88,160,FV,40.0,3951,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2009,New,Partial,164500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1404,1405,50,RL,60.0,10410,Pave,Grvl,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,1,2006,WD,Family,105000
1414,1415,50,RL,64.0,13053,Pave,Pave,Reg,Bnk,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,207000
1427,1428,50,RL,60.0,10930,Pave,Grvl,Reg,Bnk,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Normal,140000
1432,1433,30,RL,60.0,10800,Pave,Grvl,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,64500
1454,1455,20,FV,62.0,7500,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2009,WD,Normal,185000

In [6]:
df.shape

(1460, 185)

In [7]:
# I erroneously one-hot encoded Alley column. Most rows NaN. It needs indic var, interaction term instead
# To correct it I will delete the on-hot encoded columns, then add original column back on
df.drop(["Alley_Grvl", "Alley_Pave"], axis=1, inplace=True)
df["Alley"] = df_oldversion["Alley"]

In [8]:
df_oldversion["Alley"].value_counts(), "" , df["Alley"].value_counts()

(Alley
 Grvl    50
 Pave    41
 Name: count, dtype: int64,
 '',
 Alley
 Grvl    50
 Pave    41
 Name: count, dtype: int64)

In [9]:
df.shape

(1460, 184)

 # &#8659; Re-encoded LotShape: one-hot  &#8659;

In [10]:
df = pd.get_dummies(df, columns=["LotShape"])
"LotShape" in df.columns

False

In [11]:
df.columns[df.columns.str.startswith("LotShape")]

Index(['LotShape_IR1', 'LotShape_IR2', 'LotShape_IR3', 'LotShape_Reg'], dtype='object')

# &#8659; Happy that LandContour is encoded right &#8659;
 ## (Could also check correlation / r-squared with target variable to see which encoding method would be best)

In [12]:
df.columns[df.columns.str.startswith("LandContour")], "", df_oldversion["LandContour"].value_counts()

(Index(['LandContour_Bnk', 'LandContour_HLS', 'LandContour_Low',
        'LandContour_Lvl'],
       dtype='object'),
 '',
 LandContour
 Lvl    1311
 Bnk      63
 HLS      50
 Low      36
 Name: count, dtype: int64)

In [13]:
statement = f"""With LandContour one-hot encoded, Lvl should be True in 1311 columns. In reality it is true in {len(df.loc[df["LandContour_Lvl"] == True])} columns. 

Meanwhile, HLS should be True in 50 columns. In reality it is true in {len(df.loc[df["LandContour_HLS"] == True])} columns."""

print(statement)

With LandContour one-hot encoded, Lvl should be True in 1311 columns. In reality it is true in 1311 columns.

Meanwhile, HLS should be True in 50 columns. In reality it is true in 50 columns.

# &#8659; One-hot Utilities &#8659;
## Would be great to delete this feature since all datapoints but one belong to single category. But we don't know how it is in test set

In [14]:
df["Utilities"].value_counts()

Utilities
AllPub    1459
NoSeWa       1
Name: count, dtype: int64

In [15]:
Utilities_order = {"ELO": 0, "NoSeWa": 1, "NoSewr": 2, "Allpub": 3}

In [16]:
df["Utilities_le"] = df["Utilities"].map(Utilities_order)
df["Utilities_le"]

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
1455   NaN
1456   NaN
1457   NaN
1458   NaN
1459   NaN
Name: Utilities_le, Length: 1460, dtype: float64

# &#8659; Happy with encoding of LotConfig &#8659;

In [17]:
df_oldversion["LotConfig"].value_counts()

LotConfig
Inside     1052
Corner      263
CulDSac      94
FR2          47
FR3           4
Name: count, dtype: int64

In [18]:
df.columns[df.columns.str.startswith("LotConfig")]

Index(['LotConfig_Corner', 'LotConfig_CulDSac', 'LotConfig_FR2',
       'LotConfig_FR3', 'LotConfig_Inside'],
      dtype='object')

# &#8659; LandSlope: complete &#8659;

In [19]:
df["LandSlope"].value_counts()

LandSlope
Gtl    1382
Mod      65
Sev      13
Name: count, dtype: int64

In [20]:
# To do this, label encode first
LandSlope_order = {"Gtl": 0, "Mod": 1, "Sev": 2}
df["LandSlope_le"] = df["LandSlope"].map(LandSlope_order)
df["LandSlope_le"].corr(df["SalePrice"])

np.float64(0.05115224817946653)

### &#8593; Insignificant correlation
#### so will label encode instead

In [21]:
df.drop("LandSlope_le", axis=1, inplace=True)

In [22]:
df.shape

(1460, 188)

In [23]:
df = pd.get_dummies(df, columns=["LandSlope"])
df.columns[df.columns.str.startswith("LandSlope")]

Index(['LandSlope_Gtl', 'LandSlope_Mod', 'LandSlope_Sev'], dtype='object')

# &#8659; Happy with Neighborhood &#8659;   Could still compute r, though...

In [24]:
len(df.columns[df.columns.str.startswith("Neighborhood")])

25

In [25]:
len(df_oldversion["Neighborhood"].value_counts())

25

In [26]:
df.columns[df.columns.str.startswith("Neighborhood")]

Index(['Neighborhood_Blmngtn', 'Neighborhood_Blueste', 'Neighborhood_BrDale',
       'Neighborhood_BrkSide', 'Neighborhood_ClearCr', 'Neighborhood_CollgCr',
       'Neighborhood_Crawfor', 'Neighborhood_Edwards', 'Neighborhood_Gilbert',
       'Neighborhood_IDOTRR', 'Neighborhood_MeadowV', 'Neighborhood_Mitchel',
       'Neighborhood_NAmes', 'Neighborhood_NPkVill', 'Neighborhood_NWAmes',
       'Neighborhood_NoRidge', 'Neighborhood_NridgHt', 'Neighborhood_OldTown',
       'Neighborhood_SWISU', 'Neighborhood_Sawyer', 'Neighborhood_SawyerW',
       'Neighborhood_Somerst', 'Neighborhood_StoneBr', 'Neighborhood_Timber',
       'Neighborhood_Veenker'],
      dtype='object')

## Condition1 and Condition2: combine them; dependent variables; (interaction terms)

## &#8659; BldgType: not done yet (did HouseStyle first) &#8659;  Compute r

In [27]:
df.columns[df.columns.str.startswith("BldgType")].unique()

Index(['BldgType_1Fam', 'BldgType_2fmCon', 'BldgType_Duplex', 'BldgType_Twnhs',
       'BldgType_TwnhsE'],
      dtype='object')

In [28]:
df_oldversion["BldgType"].unique()

array(['1Fam', '2fmCon', 'Duplex', 'TwnhsE', 'Twnhs'], dtype=object)

In [29]:
df.columns[df.columns.str.startswith("BldgType")]

Index(['BldgType_1Fam', 'BldgType_2fmCon', 'BldgType_Duplex', 'BldgType_Twnhs',
       'BldgType_TwnhsE'],
      dtype='object')

In [30]:
df_oldversion.columns[df_oldversion.columns.str.startswith("BldgType")]

Index(['BldgType'], dtype='object')

In [31]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
# Put label encoded version of feature in encoded df, not the old one -- shouldn't add anything to old one!!
df["BldgType_le"] = le.fit_transform(df_oldversion["BldgType"])
df["BldgType_le"].corr(df["SalePrice"])

np.float64(-0.08559060818352933)

#### Weak correlation, so let's stick to one-hot

In [32]:
df.drop("BldgType_le", axis=1, inplace=True)
df.columns[df.columns.str.startswith("BldgType")]

Index(['BldgType_1Fam', 'BldgType_2fmCon', 'BldgType_Duplex', 'BldgType_Twnhs',
       'BldgType_TwnhsE'],
      dtype='object')

In [33]:
df.shape

(1460, 190)

## &#8659; HouseStyle: done -- see other note below &#8659;

In [34]:
df.columns[df.columns.str.startswith("HouseStyle")]

Index(['HouseStyle_1.5Fin', 'HouseStyle_1.5Unf', 'HouseStyle_1Story',
       'HouseStyle_2.5Fin', 'HouseStyle_2.5Unf', 'HouseStyle_2Story',
       'HouseStyle_SFoyer', 'HouseStyle_SLvl'],
      dtype='object')

In [35]:
housestyle = df[['HouseStyle_1.5Fin', 'HouseStyle_1.5Unf', 'HouseStyle_1Story',
       'HouseStyle_2.5Fin', 'HouseStyle_2.5Unf', 'HouseStyle_2Story',
       'HouseStyle_SFoyer', 'HouseStyle_SLvl']]
df["HouseStyle"] = pd.from_dummies(housestyle)

In [36]:
df["HouseStyle"].value_counts()

HouseStyle
HouseStyle_1Story    726
HouseStyle_2Story    445
HouseStyle_1.5Fin    154
HouseStyle_SLvl       65
HouseStyle_SFoyer     37
HouseStyle_1.5Unf     14
HouseStyle_2.5Unf     11
HouseStyle_2.5Fin      8
Name: count, dtype: int64

In [37]:
df_oldversion["HouseStyle"].value_counts()

HouseStyle
1Story    726
2Story    445
1.5Fin    154
SLvl       65
SFoyer     37
1.5Unf     14
2.5Unf     11
2.5Fin      8
Name: count, dtype: int64

----------------------------------------------------------------------------------

#### &#8659; &#8659;              IMPORTANT: When I tried &#8659; &#8659; mapping the order to, then computing correlation on, df["HouseStyle"] -- the new DataFrame's version, it returned nan. And I checked for null values everywhere necessary. So I assume something about the undoing of one-hot encoding caused a problem. Because as you can see below, doing the same operations on the OLD DataFrame's column works. As does using LabelEncoder on the new DataFrame's column

#### In any case, the correlation is weak, so I will stick with one-hot encoding

In [38]:
housestyle_order = {"1Story": 0, "1.5Unf": 1, "1.5Fin": 2, "2Story": 3, 
                   "2.5Unf": 4, "2.5Fin": 5}
df_oldversion["HouseStyle_le"] = df_oldversion["HouseStyle"].map(housestyle_order)
df_oldversion["HouseStyle_le"].corr(df_oldversion["SalePrice"])

np.float64(0.14822486731584716)

In [39]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df["HouseStyle_le"] = le.fit_transform(df["HouseStyle"])
df["HouseStyle_le"].corr(df["SalePrice"])

np.float64(0.18016262334399116)

In [40]:
df_oldversion.drop(columns="HouseStyle_le", inplace=True)

In [41]:
df_oldversion.shape

(1460, 81)

In [42]:
df.drop(["HouseStyle", "HouseStyle_le"], axis=1, inplace=True)
"HouseStyle" in df.columns

False

In [43]:
df.shape

(1460, 190)

In [44]:
df.columns[df.columns.str.startswith("HouseStyle")].nunique()

8

In [45]:
df_oldversion.columns[df_oldversion.columns.str.startswith("HouseStyle")].nunique()

1

#### &#8659; Why so many null values in LotFrontage?? For diverse property types and lot configurations. How to fill in these nulls?

In [46]:
df["LotFrontage"].isna().sum()

np.int64(259)

In [47]:
df_oldversion.loc[df_oldversion["LotFrontage"].isna(), "LotConfig"].value_counts()

LotConfig
Inside     134
Corner      62
CulDSac     49
FR2         14
Name: count, dtype: int64

In [48]:
df_oldversion.loc[df_oldversion["LotFrontage"].isna(), "BldgType"].value_counts()

BldgType
1Fam      226
TwnhsE     22
Duplex      5
Twnhs       3
2fmCon      3
Name: count, dtype: int64

## Overall qual

In [49]:
df["OverallQual"].value_counts().sort_index()

OverallQual
1       2
2       3
3      20
4     116
5     397
6     374
7     319
8     168
9      43
10     18
Name: count, dtype: int64

In [50]:
df_oldversion["OverallQual"].value_counts().sort_index()

OverallQual
1       2
2       3
3      20
4     116
5     397
6     374
7     319
8     168
9      43
10     18
Name: count, dtype: int64

In [51]:
overallqual_order = {1: 0, 2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 7, 9: 8, 10: 9}
df["OverallQual_le"] = df["OverallQual"].map(overallqual_order)
df["OverallQual_le"].value_counts().sort_index()

OverallQual_le
0      2
1      3
2     20
3    116
4    397
5    374
6    319
7    168
8     43
9     18
Name: count, dtype: int64

In [52]:
df["OverallQual_le"].corr(df["SalePrice"])

np.float64(0.7909816005838047)

### Now that's what I call a correlation!

### BUT once all done, need to re-scale b/c the model(s) will be sensitive to distance -- get the le features of different lengths on one comparable scale -- even contribution of each

## &#8659; Overall cond &#8659;

In [53]:
df["OverallCond"].value_counts().sort_index()

OverallCond
1      1
2      5
3     25
4     57
5    821
6    252
7    205
8     72
9     22
Name: count, dtype: int64

In [54]:
df_oldversion["OverallCond"].value_counts().sort_index()

OverallCond
1      1
2      5
3     25
4     57
5    821
6    252
7    205
8     72
9     22
Name: count, dtype: int64

In [55]:
df_oldversion.shape

(1460, 81)

In [56]:
df.shape

(1460, 191)

In [57]:
overallcond_order = {1: 0, 2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 7, 9: 8, 10: 9}
df["OverallCond_le"] = df["OverallCond"].map(overallcond_order)
df["OverallCond_le"].value_counts().sort_index()

OverallCond_le
0      1
1      5
2     25
3     57
4    821
5    252
6    205
7     72
8     22
Name: count, dtype: int64

In [58]:
df["OverallCond_le"].corr(df["SalePrice"])

np.float64(-0.07785589404867801)

### &#8593; Weak correlation (surprisingly), so will one-hot encode &#8593;

In [59]:
df.drop("OverallCond_le", axis=1, inplace=True)

In [60]:
df.shape

(1460, 191)

### Decide which encoding method for year, if any

## A general note: remember to check all non-encoded rows are removed before moving on to next stage!

### <span style="color:blue"> Test mod -- first mod from within VS Code -- 1234    (inline HTML)