In [1]:
import pandas as pd
df_oldversion = pd.read_csv("./train.csv")
df = pd.read_csv("./train_encodedv.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Columns: 185 entries, Id to SaleCondition_Partial
dtypes: bool(122), float64(3), int64(34), object(26)
memory usage: 892.7+ KB

In [2]:
df.columns[df.columns.str.startswith("Alley")]

Index(['Alley_Grvl', 'Alley_Pave'], dtype='object')

In [3]:
df_oldversion[df_oldversion["Alley"].notna()]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
21,22,45,RM,57.0,7449,Pave,Grvl,Reg,Bnk,AllPub,...,0,NaN,GdPrv,NaN,0,6,2007,WD,Normal,139400
30,31,70,C (all),50.0,8500,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,7,2008,WD,Normal,40000
56,57,160,FV,24.0,2645,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2009,WD,Abnorml,172500
79,80,50,RM,60.0,10440,Pave,Grvl,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,5,2009,WD,Normal,110000
87,88,160,FV,40.0,3951,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2009,New,Partial,164500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1404,1405,50,RL,60.0,10410,Pave,Grvl,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,1,2006,WD,Family,105000
1414,1415,50,RL,64.0,13053,Pave,Pave,Reg,Bnk,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,207000
1427,1428,50,RL,60.0,10930,Pave,Grvl,Reg,Bnk,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Normal,140000
1432,1433,30,RL,60.0,10800,Pave,Grvl,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,64500
1454,1455,20,FV,62.0,7500,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2009,WD,Normal,185000

In [4]:
# I erroneously one-hot encoded Alley column. Most rows NaN. It needs indic var, interaction term instead
# To correct it I will delete the on-hot encoded columns, then add original column back on
df.drop(["Alley_Grvl", "Alley_Pave"], axis=1)
df["Alley"] = df_oldversion["Alley"]

In [5]:
df_oldversion["Alley"].value_counts(), "" , df["Alley"].value_counts()

(Alley
 Grvl    50
 Pave    41
 Name: count, dtype: int64,
 '',
 Alley
 Grvl    50
 Pave    41
 Name: count, dtype: int64)

 # &#8659; Re-encoded LotShape: one-hot  &#8659;

In [6]:
df = pd.get_dummies(df, columns=["LotShape"])
"LotShape" in df.columns

False

In [10]:
df.columns[df.columns.str.startswith("LotShape")]

Index(['LotShape_IR1', 'LotShape_IR2', 'LotShape_IR3', 'LotShape_Reg'], dtype='object')

# &#8659; Happy that LandContour is encoded right &#8659;
 ## (Could also check correlation / r-squared with target variable to see which encoding method would be best)

In [7]:
df.columns[df.columns.str.startswith("LandContour")], "", df_oldversion["LandContour"].value_counts()

(Index(['LandContour_Bnk', 'LandContour_HLS', 'LandContour_Low',
        'LandContour_Lvl'],
       dtype='object'),
 '',
 LandContour
 Lvl    1311
 Bnk      63
 HLS      50
 Low      36
 Name: count, dtype: int64)

In [8]:
statement = f"""With LandContour one-hot encoded, Lvl should be True in 1311 columns. In reality it is true in {len(df.loc[df["LandContour_Lvl"] == True])} columns. 

Meanwhile, HLS should be True in 50 columns. In reality it is true in {len(df.loc[df["LandContour_HLS"] == True])} columns."""

print(statement)

With LandContour one-hot encoded, Lvl should be True in 1311 columns. In reality it is true in 1311 columns.

Meanwhile, HLS should be True in 50 columns. In reality it is true in 50 columns.

# &#8659; One-hot Utilities &#8659;
## Would be great to delete this feature since all datapoints but one belong to single category. But we don't know how it is in test set

In [19]:
df["Utilities"].value_counts()

Utilities
AllPub    1459
NoSeWa       1
Name: count, dtype: int64

In [14]:
Utilities_order = {"AllPub": 0, "NoSewr": 1, "NoSeWa": 2, "ELO": 3}

In [18]:
df["Utilities_le"] = df["Utilities"].map(Utilities_order)
df["Utilities_le"]

0       0
1       0
2       0
3       0
4       0
       ..
1455    0
1456    0
1457    0
1458    0
1459    0
Name: Utilities_le, Length: 1460, dtype: int64

# &#8659; Happy with encoding of LotConfig &#8659;

In [22]:
df_oldversion["LotConfig"].value_counts()

LotConfig
Inside     1052
Corner      263
CulDSac      94
FR2          47
FR3           4
Name: count, dtype: int64

In [23]:
df.columns[df.columns.str.startswith("LotConfig")]

Index(['LotConfig_Corner', 'LotConfig_CulDSac', 'LotConfig_FR2',
       'LotConfig_FR3', 'LotConfig_Inside'],
      dtype='object')

# LandSlope: check correlation with target variable