In [1]:
import pandas as pd
df_oldversion = pd.read_csv("./train.csv")
df = pd.read_csv("./train_encodedv.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Columns: 185 entries, Id to SaleCondition_Partial
dtypes: bool(122), float64(3), int64(34), object(26)
memory usage: 892.7+ KB

In [2]:
df.columns[df.columns.str.startswith("Alley")]

Index(['Alley_Grvl', 'Alley_Pave'], dtype='object')

In [3]:
df_oldversion[df_oldversion["Alley"].notna()]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
21,22,45,RM,57.0,7449,Pave,Grvl,Reg,Bnk,AllPub,...,0,NaN,GdPrv,NaN,0,6,2007,WD,Normal,139400
30,31,70,C (all),50.0,8500,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,7,2008,WD,Normal,40000
56,57,160,FV,24.0,2645,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2009,WD,Abnorml,172500
79,80,50,RM,60.0,10440,Pave,Grvl,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,5,2009,WD,Normal,110000
87,88,160,FV,40.0,3951,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2009,New,Partial,164500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1404,1405,50,RL,60.0,10410,Pave,Grvl,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,1,2006,WD,Family,105000
1414,1415,50,RL,64.0,13053,Pave,Pave,Reg,Bnk,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,207000
1427,1428,50,RL,60.0,10930,Pave,Grvl,Reg,Bnk,AllPub,...,0,NaN,NaN,NaN,0,4,2008,WD,Normal,140000
1432,1433,30,RL,60.0,10800,Pave,Grvl,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,64500
1454,1455,20,FV,62.0,7500,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2009,WD,Normal,185000

In [4]:
# I erroneously one-hot encoded Alley column. Most rows NaN. It needs indic var, interaction term instead
# To correct it I will delete the on-hot encoded columns, then add original column back on
df.drop(["Alley_Grvl", "Alley_Pave"], axis=1)
df["Alley"] = df_oldversion["Alley"]

In [5]:
df_oldversion["Alley"].value_counts(), "" , df["Alley"].value_counts()

(Alley
 Grvl    50
 Pave    41
 Name: count, dtype: int64,
 '',
 Alley
 Grvl    50
 Pave    41
 Name: count, dtype: int64)

In [12]:
# Whatever end of the scale we choose for the "best" and "worst" category respectively, 
# once chosen, we need to stick to that order for all other label-encoded features, it looks like

# So we MAY NEED TO REDO already-encoded features

LotShape_order = {"IR3": 0, "IR2": 1, "IR1": 2, "Reg": 3}
df["LotShape_le"] = df["LotShape"].map(LotShape_order)
df.drop("LotShape", axis=1)

,Id,LotFrontage,LotArea,Utilities,LandSlope,Condition1,Condition2,OverallQual,OverallCond,YearBuilt,...,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial,Alley,LotShape_le
0,1,65.0,8450,AllPub,Gtl,Norm,Norm,7,5,2003,...,False,True,False,False,False,False,True,False,NaN,3
1,2,80.0,9600,AllPub,Gtl,Feedr,Norm,6,8,1976,...,False,True,False,False,False,False,True,False,NaN,3
2,3,68.0,11250,AllPub,Gtl,Norm,Norm,7,5,2001,...,False,True,False,False,False,False,True,False,NaN,2
3,4,60.0,9550,AllPub,Gtl,Norm,Norm,7,5,1915,...,False,True,True,False,False,False,False,False,NaN,2
4,5,84.0,14260,AllPub,Gtl,Norm,Norm,8,5,2000,...,False,True,False,False,False,False,True,False,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,62.0,7917,AllPub,Gtl,Norm,Norm,6,5,1999,...,False,True,False,False,False,False,True,False,NaN,3
1456,1457,85.0,13175,AllPub,Gtl,Norm,Norm,6,6,1978,...,False,True,False,False,False,False,True,False,NaN,3
1457,1458,66.0,9042,AllPub,Gtl,Norm,Norm,7,9,1941,...,False,True,False,False,False,False,True,False,NaN,3
1458,1459,68.0,9717,AllPub,Gtl,Norm,Norm,5,6,1950,...,False,True,False,False,False,False,True,False,NaN,3
1459,1460,75.0,9937,AllPub,Gtl,Norm,Norm,5,6,1965,...,False,True,False,False,False,False,True,False,NaN,3

In [11]:
df.columns[df.columns.str.contains("Stre")]

Index(['Street_Grvl', 'Street_Pave'], dtype='object')